.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-bar {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  height: 10%;
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #29292e;
  }

  input {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #29292e;
    width: 100%;
  }
}

.flag-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.25rem 1rem;
  height: 90%;
  height: 380px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
